page {
    width: 100%;
    height: 100%;
}

.index-container {
    background: #fff;
    height: 100%;
}

.index-take {
}

.base64-img {
    float: left;
    margin-top: 10px;
    width: 50%;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
}

.local-img {
    float: left;
    margin-top: 10px;
    width: 50%;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
}

.index-canvas {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    background: #ddd;
}